<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GMSRevitAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GMSRevitAddin.Properties.Settings>
            <setting name="AutoWarningSuppress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagToolbarLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="PartsManagerLocation" serializeAs="String">
                <value>Not assigned</value>
            </setting>
            <setting name="OpenOrig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnitLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DimNotFormLocation" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="BBFormSize" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="BBFormLocation" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="BBSmallFormLocation" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="UnitRelsaseFormLocation" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="UnitReleaseFromSize" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="TagVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CombinePDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CWFormLocation" serializeAs="String">
                <value>-100, -100</value>
            </setting>
        </GMSRevitAddin.Properties.Settings>
    </userSettings>
</configuration>
